/* Empty. Add your own CSS if you like */
.conteneur
{
  background-color:#f8b334;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; bottom: 0;
  left:0; right: 0;
  overflow: hidden;
}
.css3_div
{
  -webkit-animation-duration: 4.8s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: first;
  -moz-animation-duration: 4.8s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: first;
  -ms-animation-duration: 4.8s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: first;
  animation-duration: 4.8s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: first;
 }
@-webkit-keyframes first 
{
  0% {-webkit-transform: translate(000px,1500px);}
  20% {-webkit-transform: translate(000px,65px);}
  25%,65%,75% {-webkit-transform: translate(000px,85px);}
  100% {-webkit-transform: translate(000px,-300px);}
}
@-moz-keyframes first 
{
  0% {-moz-transform: translate(000px,1500px);}
  20% {-moz-transform: translate(000px,65px);}
  25%,65%,75% {-moz-transform: translate(000px,85px);}
  100% {-moz-transform: translate(000px,-300px);}
}
@-ms-keyframes first 
{
  0% {-ms-transform: translate(000px,1500px);}
  20% {-ms-transform: translate(000px,65px);}
  25%,65%,75% {-ms-transform: translate(000px,85px);}
  100% {-ms-transform: translate(000px,-300px);}
}
@keyframes first 
{
  0% {transform: translate(000px,1500px);}
  20% {transform: translate(000px,65px);}
  25%,65%,75% {transform: translate(000px,85px);}
  100% {transform: translate(000px,-300px);}
}
.txtcss
{
  vertical-align: top;
  text-align: center;
  color: #a0711a;
  font-family: 'Roboto';
  margin-left: 10px;
  height:95px;
  overflow: hidden;
  -webkit-animation-delay: 1.3s;-webkit-animation-duration: 1s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: txtcss;
  -moz-animation-delay: 1.3s;-moz-animation-duration: 1s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: txtcss;
  -ms-animation-delay: 1.3s;-ms-animation-duration: 1s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: txtcss;
  animation-delay: 1.3s;animation-duration: 1s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: txtcss;
}
@-webkit-keyframes txtcss 
{
  0% {opacity:0;}
  100% {opacity:1;}
}
.html5_div
{
  -webkit-animation-delay: 4s;-webkit-animation-duration: 4.8s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: second;
  -moz-animation-delay: 4s;-moz-animation-duration: 4.8s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: second;
  -ms-animation-delay: 4s;-ms-animation-duration: 4.8s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: second;
  animation-delay: 4s;animation-duration: 4.8s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: second;
 }
@-webkit-keyframes second 
{
  0% {-webkit-transform: translate(000px,1500px);}
  20% {-webkit-transform: translate(000px,-165px);}
  25%,65% {-webkit-transform: translate(000px,-145px);}
  100% {-webkit-transform: scale(0.5);}
}
@-moz-keyframes second 
{
  0% {-moz-transform: translate(000px,1500px);}
  20% {-moz-transform: translate(000px,-165px);}
  25%,65% {-moz-transform: translate(000px,-145px);}
  100% {-moz-transform: scale(0.5);}
}
@-ms-keyframes second 
{
  0% {-ms-transform: translate(000px,1500px);}
  20% {-ms-transform: translate(000px,-165px);}
  25%,65% {-ms-transform: translate(000px,-145px);}
  100% {-ms-transform: scale(0.5);}
}
@keyframes second 
{
  0% {transform: translate(000px,1500px);}
  20% {transform: translate(000px,-165px);}
  25%,65% {transform: translate(000px,-145px);}
  100% {transform: scale(0.5);}
}
.txthtml
{
  vertical-align: top;
  text-align: center;
  color: #a0711a;
  font-family: 'Roboto';
  margin-left: 10px;
  height:95px;
  overflow: hidden;
  -webkit-animation-delay: 5.5s;-webkit-animation-duration: 1s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: txthtml;
  -moz-animation-delay: 5.5s;-moz-animation-duration: 1s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: txthtml;
  -ms-animation-delay: 5.5s;-ms-animation-duration: 1s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: txthtml;
  animation-delay: 5.5s;animation-duration: 1s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: txthtml;
}
@-webkit-keyframes txthtml 
{
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes txthtml 
{
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes txthtml 
{
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes txthtml 
{
  0% {opacity:0;}
  100% {opacity:1;}
}
.trycss
{
  position: absolute;
  top: 75px;
  font-family: 'Roboto';
  color:#a0711a;
  width: 400px;
  margin-left: 50%;
  left:-200px;
  -webkit-animation-delay: 9s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: try;
  -moz-animation-delay: 9s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: try;
  -ms-animation-delay: 9s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: try;
  animation-delay: 9s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: try;
}
@-webkit-keyframes try 
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,-300px);}
}
@-moz-keyframes try 
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,-300px);}
}
@-ms-keyframes try 
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,-300px);}
}
@keyframes try 
{
  0% {transform: scale(0);}
  10% {transform: scale(1.2);}
  20% {transform: scale(1);}
  80% {transform: translate(000px,0px);}
  100% {transform: translate(000px,-300px);}
}
.shareit
{
  position: absolute;
  font-family: 'Roboto';
  top: 75px;
  color:#a0711a;
  width: 400px;
  margin-left: 50%;
  left:-200px;
  -webkit-animation-delay: 12s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: share;
  -moz-animation-delay: 12s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: share;
  -ms-animation-delay: 12s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: share;
  animation-delay: 12s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: share;
}
@-webkit-keyframes share 
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,-300px);}
}
@-moz-keyframes share 
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,-300px);}
}
@-ms-keyframes share 
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,-300px);}
}
@keyframes share 
{
  0% {transform: scale(0);}
  10% {transform: scale(1.2);}
  20% {transform: scale(1);}
  80% {transform: translate(000px,0px);}
  100% {transform: translate(000px,-300px);}
}
